.main {
  margin-bottom: 5px;
}

.general__ti {
  margin-bottom: 8px;
}

.general__tf {
  margin-bottom: 8px;
}
.general__cop {
  margin-bottom: 8px;
}

.mass_image {
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  height: 40px;
}

.energy_image {
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: fit-content;
  height: 120px;
}
