.app {
  height: 100vh;
  background-color: aquamarine;
}

.app__container {
  margin-right: 50px;
  margin-left: 50px;
  padding: 10px;
}

.app__header {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 255, 0);
}

.app__select {
  margin-top: 4px;
  background-color: rgb(255, 255, 224, 0);
}

.app__select--title {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: large;
}

.app__select--options {
  display: flex;
  justify-content: space-between;
}

.app__button--unselected {
  background-color: lightgray;
  transition-duration: 0.4s;
  border-radius: 5px;
  width: 10%;
  font-size: x-large;
  color: black;
  cursor: pointer;
}

.app__button--unselected:active {
  transform: translateY(4px);
}

.app__button--unselected:hover {
  background-color: lightskyblue;
  cursor: pointer;
}

.app__button--selected {
  background-color: lightskyblue;
  border-radius: 5px;
  width: 10%;
  font-size: x-large;
  color: black;
  cursor: pointer;
}

.app__button--selected:active {
  transform: translateY(4px);
}

.app__body {
  margin-top: 4px;
  display: flex;
  background-color: rgb(255, 0, 0, 0);
}

.app__left {
  background-color: rgb(255, 192, 203, 0);
  flex: 0.33;
  border: 0;
}

.app__image {
  display: block;
  cursor: pointer;
}

.app__image:active {
  transform: translateY(4px);
}

.app__right {
  background-color: rgb(255, 255, 0, 0);
  flex: 0.67;
  display: flex;
  flex-direction: column;
}

.app__right--title {
  display: flex;
  justify-content: center;
}

.app__right--equations {
  background-color: #dae8fc;
  border-style: solid;
  border-width: 2px;
  border-color: #6c8ebf;
  flex: 0.95;
}

.app__footer {
  margin-top: 4px;
  height: 175px;
  background-color: #dae8fc;
  border-style: solid;
  border-width: 2px;
  border-color: #6c8ebf;
}
